.Sponsor {
  margin-bottom: 5rem;
  transition: 0.3s;
}
.Sponsor:hover {
  transform: scale(1.1);
}
.Sponsor img {
  width: 22rem;
  display: inline-block;
  margin: 0;
}
.Sponsor img {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

.shead {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-shadow: 2px 2px 4px rgb(185, 53, 202);
}

/* more smaller */
@media (max-width: 570px) {
  .shead {
    margin-top: 0;
  }
  .Sponsor img {
    margin-bottom: 3rem;
    margin-left: 2rem;
    width: 20rem;
    height: 3rem;
  }
}
