.box {
  width: 18rem;
  height: 22rem;
  margin: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 15rem;
  transition: all 250ms ease-in-out;
}

.img {
  height: 14rem;
  width: 14rem;
  margin: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 20px 6px;
}

.box:hover {
  transform: translateY(-0.5rem);
  width: 18.2rem;
  height: 22.2rem;
}

.head h1 {
  text-shadow: 2px 2px 4px rgb(185, 53, 202);
}

/* more smaller */
@media (max-width: 570px) {
  .box {
    margin: auto;
    margin-top: 3rem;
  }
}
